html,
body {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #f8f7fa;
}
svg,
img {
  -webkit-transform: translate3d(0, 0, 0);
}
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}
input:-webkit-autofill,
input:-webkit-autofill::first-line,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}
html {
  font-family: 'Roboto';


  ::selection {
    background-color: #2196f328;
    color: #fff;
  }
}

button,
input,
textarea {
  font-family: 'Roboto';
}

img {
  vertical-align: middle;
}

.container {
  padding: 20px;
}
